
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BBC News - Events</title>
        <link rel="stylesheet" href="/css/style.css"> 
        <meta content='width=device-width' name='viewport' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>
<!--
    <link rel="stylesheet" href="/stylesheets/gantt.css" />
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" /> -->


	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
<!--	<script type="text/javascript" src="/javascripts/jquery.fn.gantt.js"></script>
	<script type="text/javascript" src="/javascripts/events.js"></script> -->


<script type="text/javascript" src="/javascripts/date.extensions.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>
	$(document).ready(function() {
		//Replace date with relative time.
		$('.event-created-at').each(function(){
			var dateStr = $(this).text();
			$(this).text(new Date(dateStr).toRelativeTime())
		});
	});
</script>

<style>
	.event-concepts li{
		display:inline;
		border-radius: 5px;
		background-color:#99F;
		border:0px solid #fff;
		color:#fff;
	}

	.event-concepts li a {
		color:#fff;
	}

ol.events-list{
	list-style-type: decimal;
	list-style-position: inside;
	margin-left:12px;
}

ol.events-list li div{
	margin:8px;
}

ol.events-list li div{
	font-size: 0.8em;
}

</style>

</head>

	<body>
            <header>
                <div id="blq-mast-bar">
                    <div id="blq-blocks"><a href="/">BBC</a></div>
                </div>   
                
                <div id="site-brand">
                    <div class="site-brand-inner">
                        <a id="brand" href="/">
                            <img width="86" height="23" alt="BBC News" src="/img/news-brand-22.gif">
                        </a>
                    </div>
                </div>
                        
                <% parent_title = null %>
                <% include nav %>

            </header>



			<div id='results'></div>


		<div id="container">

			<section role="main">

				<div id="story-list"></div>

<ol class="events-list">

<%

%>

<%
for(var i = 0; i < related.length; i++){
%>

<% if (related[i].articles.length > 0) { %>


	<%var event = related[i];%>

	<%
	var concepts = event.concepts;
	%>

	<li>
		<a href="/timeline/<%=event.id%>"><%=event.title%></a>
    		<div class="event-info">First published <span class="event-created-at"><%=event.created_at%></span> has <%=event.articles.length%> <%=(event.articles.length > 1 ? 'stories':'story')%> mainly about:

    			<ul class="event-concepts">
    				<%
    				for(var j = 0; j < concepts.length; j++){
    					var label = concepts[j].label;
    					var title = concepts[j].title;
    				%>
    					<li><a href="/concept/<%=title%>"><%=label%></a></li>
    				<%
    				}
    				%>
    			</ul>
    		</div>
            <div class="sub-events">
            <%
            if(event.childEvents){
            %>
                <ul>
                <%for(var k = 0; k < event.childEvents.length; k++){%>
                    <%var childEvent = event.childEvents[k];%>
                    <% if(childEvent.articles.length > 0){ %>
                    <li><a href="/timeline/<%=childEvent.id%>"><%=childEvent.title%></a></li>
                    <% } %>
                <%}%>
                </ul>
            <%
            }
            %>
            </div>

	</li>
<%}%>

<%	
}
%>

</ol>



			</section>

			<section role="complementary" id="local-people"></section>
			<section role="complementary" id="local-companies"></section>

		</div>

		<footer>
			<div id="footer-content">
				<p>BBC &copy; 2012</p>
			</div>
		</footer>


	</body>
</html> 
