<!--
{"article_ids":ids,
  "agents":result.agents,
  "places":result.places,
  "concepts":result.concepts,
  "end_at":result.end_at,
  "start_at":result.start_at,
  "parent_title":data.parent_title,
  "title":data.title,
  "event_id":eventId
-->

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>BBC News - Events</title>
        <link rel="stylesheet" href="/css/style.css"> 
        <meta content='width=device-width' name='viewport' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/js/jquery-1.8.0.min.js"></script>  
        <script type="text/javascript" src="/js/timeaxis.js"></script>  

        <script type="text/javascript" src="/js/jquery.jcarousel.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/skins/tango/skin.css" />
 
        <style type="text/css">
            #timeaxis {
                /*width: 100%;*/
            }
            head, body {
                margin: 0;
                padding: 0;
            }

            li.parent-event{
                background:url(/img/sprite3.png) no-repeat -8px -205px
            }

            #story-carousel{
                position:relative;
                width:100%;
                height:300px;
            }

            #story-carousel li{
                width:100%;
                height:100px;
            }

            #event-articles {
                display:none;
            }

            .headline {
                border-bottom: 1px solid #eee;
                border-top: 4px solid #eee;
                font-size: 24px;
                line-height: 32px;
                padding: 8px 0;
            }

            .list li, .list li a {
                border-bottom: 1px solid #eee;
                color: #404040;
                font-size: 16px;
                line-height: 20px;
                padding: 8px 0;

            }

        </style>

        <script type="text/javascript">

            var articleIndex = 0;

            var articleIds = [];

            var cache = [];

            var requestsInProgress = [];

            function makeRequest(uri,callback){

                if(requestsInProgress[uri] == undefined){

                  requestsInProgress[uri] = true;

                  var jqxhr = $.ajax(uri);
                  
                  jqxhr.done(function(data){callback(null,data)});

                  jqxhr.error(function(error){
                      callback(error,null);
                  });

                  jqxhr.fail(function(e) {
                      callback(e,null)
                  });
              }  
            }

            function getArticle(index){

                var id = articleIds[index];

                console.log("IDD:" + index)

                if(cache[id] != undefined){
                    $("#stories").html(cache[id]);
                    console.log("hit1");
                }else{

                    makeRequest("/article/" + id,function(error,data){
                        if(data != null){
                            cache[id] = data;
                            $("#stories").html(data);
                        }
                    });

                    if(index < articleIds.length-1){
                        var nextItemId = articleIds[index+1];
                        if(cache[nextItemId] == undefined){
                           makeRequest("/article/" + nextItemId,function(error,data){
                               if(data != null){
                                   cache[nextItemId] = data;                                   
                               }
                           }); 
                        }else{
                            console.log("hit2");
                        }
                    }

                    // var jqxhr = $.ajax( "/article/" + id);
         
                    // jqxhr.done(function(data) {
                    //     cache[id] = data;
                    //     $("#stories").html(data);
                    // });

                    // jqxhr.error(function(error){
                    //    // callback(error,null);
                    // });

                    // jqxhr.fail(function(e) {
                    //     //callback(e,null)
                    // });





                }
            }

            $(document).ready(function(){

                var articles = $("#event-articles li");

                var startDate = $(".event-start-date").text();

                var endDate = $(".event-end-date").text();

                var timeAxisData = {
                    "start_at":startDate,
                    "end_at":endDate,
                    "articles":[]
                };

                articles.each(function(){
                    var article = $("a", this);
                    var cpsId = article.attr("data-cps-id");
                    var publishedDate = article.attr("data-published-date"); 
                    timeAxisData.articles.push({"published":publishedDate,"cps_id":cpsId});
                    console.log("pushing:" + cpsId)
                    articleIds.push(cpsId);
                });

                var firstArticleId = $("a",articles.first()).attr("data-cps-id");

                getArticle(articleIndex++);
                
                var timeAxis = new TimeAxis();

                timeAxis.renderTimeline(timeAxisData,timeAxisData.articles[0].id);

                 $("#stories").click(function(){
                    console.log("getting article:" + (articleIndex+1 % articleIds.length), articleIds);
                    console.log("art ids:" + articleIds[0])
                    getArticle((articleIndex++ % articleIds.length));
                 });

                // jQuery('#story-carousel').jcarousel({
                //         itemLoadCallback: itemLoadCallbackFunction
                // });
                
                // function itemLoadCallbackFunction(carousel, state)
                // {
                //     for (var i = carousel.first; i <= carousel.last; i++) {
                //         // Check if the item already exists
                //         if (!carousel.has(i)) {
                //             // Add the item
                //             carousel.add(i, "I'm item #" + i);
                //         }
                //     }
                // };
                
                

            });
        </script>

    </head>
<body>

    <header>
        <div id="blq-mast-bar">
            <div id="blq-blocks"><a href="/">BBC</a></div>
        </div>   
        
        <div id="site-brand">
            <div class="site-brand-inner">
                <a id="brand" href="/">
                    <img width="86" height="23" alt="BBC News" src="/img/news-brand-22.gif">
                </a>
            </div>
        </div>
            
        <% include nav %>

    </header>

    <canvas id="timeaxis" height="60"></canvas>


<ul id="event-articles">
<% for(var i = 0; i < article_ids.length; i++) {%>
   <li><a href="/article/<%= article_ids[i].id %>" data-cps-id="<%= article_ids[i].id %>" data-published-date="<%= article_ids[i].published %>" data-prefetch><%= article_ids[i].title %></a></li>
<% } %>
</ul>

<section id="content">
    <div id="stories">
    </div>
    <div id="story-info">
        <span class="story-number">1</span> of <span class="total-stories">1</span>
    </div>
</section>

<section id="metadata">

    <span class="event-start-date"><%= start_at %></span>
    <span class="event-end-date"><%= end_at %></span>

	<div id="concepts">
        <h2 class="headline">Concepts</h2>
        <ul class="event-concepts list">
        <% for(var i = 0; i < concepts.length; i++) {%>
           <li><a href="/concept/<%= concepts[i].title %>" data-prefetch><%= concepts[i].label %></a></li>
        <% } %>
        </ul>
    </div>
    <div id="places">
        <h2 class="headline">Places</h2>
        <ul class="event-places list">
        <% for(var i = 0; i < places.length; i++) {%>
           <li><a href="/concept/<%= places[i].title %>" data-prefetch><%= places[i].label %></a></li>
        <% } %>
        </ul>
    </div>
    <div id="agents">
		<h2 class="headline">Agents</h2>
        <ul class="event-agents list">
        <% for(var i = 0; i < agents.length; i++) {%>
           <li><a href="/concept/<%= agents[i].title %>" data-prefetch><%= agents[i].label %></a></li>
        <% } %>
        </ul>        
	</div>

    <div id="concepts">
        <h2 class="headline">Related events</h2>
        <ul class="event-related list">
        <% for(var i = 0; i < relatedEvents.length; i++) {%>
           <li><a href="/event/<%= relatedEvents[i].id %>/articles" data-prefetch><%= relatedEvents[i].title %></a></li>
        <% } %>
        </ul>
    </div>

</section>

</body>

</html>

