<style>
/*	.section{
		width: 0;
		 height: 0;
		 border-left: 100px solid red;
		 border-top: 50px solid transparent;
		 border-bottom: 50px solid transparent;
	}*/
</style>

<!--
{"article_ids":ids,
  "agents":result.agents,
  "places":result.places,
  "concepts":result.concepts,
  "end_at":result.end_at,
  "start_at":result.start_at,
  "parent_title":data.parent_title,
  "title":data.title,
  "event_id":eventId
-->

<div id="blq-local-nav" class="blq-clearfix">

	<ul id="nav">
		<li class="mobile"><a href="/">Home</a></li>
	    <li class="mobile section"><a href="/events">Events</a></li>


	    <% if(parent_title){ %>
	    	<li class="mobile section <%= (parent_id != null) ? 'parent-event' :'' %>"><a href="/event/<%= parent_id %>/articles"><%= parent_title %></a></li>	
	    <% } %>	
	    <% if(title){ %>	
	    	<li class="mobile selected subsection"><a href="/event/<%= event_id %>/articles"><%= title %></a></li>
		<% } %>
	</ul> 

</div>